<article class="post">
    <form class="comment-form post m-2 p-2">
        <div class="form-group title">
            <h4 href="{{content}}" target="_blank" class="text-body font-weight-bold"><a href="/post/{{id}}" target="_blank" class="text-body">{{title}}</a></h4>
            <h5><p class="card-text text-muted">{{content}}</p></h5>
            <p class="text-info">Posted by {{user.username}} on {{format_date created_at}}</p>
        </div>
    </form>
</article>