<article class="post">
    <form class="comment-form post m-1 p-1">
        <div class="form-group title">
            <h4 target="_blank" class="text-body font-weight-bold titleFont">{{title}}</h4>
            <p class="contentFont text-muted">Posted by <a class="text-warning contentFont" href="/user-page/{{id}}" class="edit-link text-dark">{{user.username}}</a> on {{format_date created_at}}</p>
            </br>
            <h5 class="card-text contentFont">{{content}}</h5>
            </br>
        </div>
    </form>
</article>