<article class="post">
    <form class="comment-form post m-1 p-1">
        <div class="form-group title">
            <h3 target="_blank" class="text-body font-weight-bold titleFont">{{title}}</h3>
            <p class="contentFont text-muted">Posted by <a class="text-warning contentFont" href="/user-page/{{id}}" class="edit-link text-dark">{{user.username}}</a> on {{format_date created_at}}</p>
            </br>
            <p class="card-text contentFont text-dark">{{content}}</p>
            </br>
              <a class="text-warning" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
              <a class="text-secondary">| {{vote_count}} {{format_plural "favorite" vote_count}}</a>
        </div>
    </form>
</article>