<article class="post">
    <form class="comment-form post m-2 p-2">
        <div class="form-group title">
            <h4 target="_blank" class="text-body font-weight-bold">{{title}}</h4>
            <h5><p class="card-text text-muted">{{content}}</p></h5>
            </br>
            <p>Posted by <a class="text-warning" href="/user-page/{{id}}" class="edit-link text-dark">{{user.username}}</a> on {{format_date created_at}}</p>
        </div>
    </form>
</article>