<div class="container">
    <div class="row">
        {{!-- user profile --}}
        <div class="myUsername border border-warning card post m-2 p-2 col-12" style="width: 18rem;">
            <h3 class="p-2 my-4 bg-light titleFont">welcome <a class="text-secondary text-decoration-none">{{user.username}}!
                </a><i class=" text-warning fa fa-hand-peace-o"></i></h3>
            <form class="bio-form mb-3">
                {{#unless user.bio}}
                <textarea name="bio-text" placeholder="tell us about yourself and favorite beers!"
                    class="form-control bio-text contentFont" rows="3"></textarea>
                <button id="bio" type="button" class="btn btn-light m-2 p-2"><a
                        class="link text-decoration-none text-warning textFont">submit</a></button>
                {{/unless}}
                {{#if user.bio}}
                <p name="user-bio" class="m-1 p-1 contentFont">{{user.bio}}</p>
                </br>
                <button id="editBio" type="button" class="btn btn-light m-2 p-2"><a
                        class="link text-decoration-none text-warning textFont" href="/users/bio/{{user.id}}">edit</a></button>
                {{/if}}
            </form>
        </div>

        {{!-- your posts --}}
        <div class="card post m-2 p-2 col border-warning" style="width: 18rem;">
            <h3 class="p-2 my-4 bg-light textFont">your posts:</h3>
            {{#if posts.length}}
            <section class="m-2 p-2">
                {{#each posts as |post|}}
                <div class="p-2 card-body title border-top border-bottom border-6 rounded">
                    <h4 class="card-title"><a href="/dashboard/edit/{{post.id}}"
                            class="edit-link text-dark titleFont">{{post.title}}</a></h4>
                    <h5></h5>
                    <p class="card-text text-muted contentFont">{{post.content}}</p>
                    </h5>
                    <a class="card-link"><a href="/post/{{post.id}}" class="text-warning contentFont">{{comments.length}}
                            {{format_plural "comment" comments.length}}</a></a>
                </div>
                </br>
                {{/each}}
                {{else}}
                <h5 class="p-3 textFont">no posts yet, add one now!</h5>
                {{/if}}
                </br>
                <button type="submit" class="btn btn-light m-2 p-2"><a class="link text-decoration-none text-warning textFont"
                        href="/new-post">add a new post</a></button>
                </br>
            </section>
        </div>

        {{!-- favorite posts --}}
        <div class="card post m-2 p-2 col border-warning" style="width: 18rem;">
            <h3 class="p-2 my-4 bg-light textFont">favorites:</h3>
            {{!-- {{#if posts.length}}
            <section class="m-2 p-2">
                {{#each posts as |post|}}
                <div class="p-2 card-body title">
                    <h4 class="card-title"><a href="/dashboard/edit/{{post.id}}"
                            class="edit-link text-dark">{{post.title}}</a></h4>
                    <h5></h5>
                    <p class="card-text text-muted">{{post.content}}</p>
                    </h5>
                    <a class="card-link"><a href="/post/{{id}}" class="text-info">{{comments.length}}
                            {{format_plural "comment" comments.length}}</a></a>
                </div>
                {{/each}}
                {{else}} --}}
            <h5 class="p-3 textFont">no favorites to show yet!</h5>
            {{!-- {{/if}} --}}
            </section>
        </div>

    </div>
</div>


<script src="/javascript/dashboard.js"></script>
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-bio.js"></script>

