<div class="container">
<a class="text-warning textFont" href="/dashboard"> &larr; Back to dashboard</a>
</br>
  <div class="row justify-content-md-center">
    <div class=" p-3 m-5 border border-5 border-warning rounded col-8">
      <h3 class="text-center titleFont">Edit Post</h3>
      </br>
      <form class="edit-post-form">
        <div class="form-group">
          <label for="post-title" class="form-label textFont">title</label>
          <input name="post-title" type="text" class="form-control contentFont" value="{{post.title}}">
        </div>
        </br>
        <div class="form-group">
          <label class="form-label textFont" for="post">content</label>
          <input name="content" type="text" class="form-control contentFont" value="{{post.content}}">
        </div>
        </br>
        <div>
          <a class="text-warning contentFont" href="/post/{{post.id}}">{{post.comments.length}}
            {{format_plural "comment" post.comments.length}}</a>
        </div>
        </br>
        <div>
          <button type="submit" class="btn btn-outline-warning textFont">save post</button>
          <button type="button" class="btn btn-outline-warning delete-post-btn textFont">delete post</button>
        </div>
      </form>
      </br>

      {{> comments post.comments}}
    </div>
  </div>

</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>